/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 1024px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px
}

p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15.2px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

a{
    text-decoration: none;
    color:black;
}

/****** Nav ***********/

nav{
    display:flex;
    flex-direction:row;
}

ul li{
    display:inline;
}

.logobooki{
    width: 61.09px;
    height:19px;
    padding-top:30px;
}

.btnnav{
    position:relative;
    left:970px;
}

.btnhebergement{
    margin-right:69px;
    padding-top: 14px;
    border:none;
    background-color: white;
}

.btnhebergement:hover{
    border-top:solid;
    color:#0065FC;
}

.btnactivites{
    padding-top: 14px;
    border:none;
    background-color: white;
}

.btnactivites:hover{
    border-top:solid;
    color:#0065FC
}

/****** Barre de recherche ***********/

.recherche{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.location{
    height:49px;
    width: 3%;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    
}

.location .fa-location-dot{
    padding-top:15px;
    padding-left: 18px;
    width: 7%;
    height: 18px;
}

input{  
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    width: 16%;
    height: 4%;
    text-align:center;
}

input::placeholder{
    color:black;
}

.searchbar{
    width: 15%;
    height: 49px;
}

.loupe{
    visibility: hidden;
}

.btnsearch{
    width: 8%;
    color:white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 98%;
    padding: 15px 16px;
    background-color:#0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

/****** Filtres ***********/


.filtres{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
}


.btnfiltres{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 11%;
    height: 50px;
    background-color: white;
    margin-left:30px;
}


.btnfiltres:hover{
    background-color:#DEEBFF;
}

button i{
    position:relative;
    padding-right: 10px; 
}

button p{
    position:relative;
    bottom:18px;
}

.info i{
    position: relative;
    top:33px;
}
.info p{
    margin-left:20px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 66%;
}

.titleheberg{
    position:relative;
    bottom:13px;
}

.hebergements .card{
    width: 92%;
    height: 81%;
}

.hebergements-card{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.hebergements .card-title{
    position:relative;
    bottom:17px;
    width: 100%;
}

.hebergements .card-subtitle{
    position:relative;
    bottom:30px;
}

.hebergements .card-rating{
    position: relative;
    bottom:40px;
}

.hebergements-card .card-content{
    width: 67%;
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements img{
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    align-self:stretch;
    position:relative;
    right:6px;
    bottom:4px;
    width: 100%;
    height: 124px;
}

.afficher{
    position: relative;
    top:13px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    width: 100%;
    height: 135px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activity-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 65px;
}
.activity-card img{
    border-radius: 20px 20px 0px 0px;
    width: 297px;
    height: 380px;
}

/****** Footer ***********/
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}
    
.footer1{
    flex-direction: row;
    position:relative;
    right:30px;
}

ul{
    list-style: none;
}

.footer1 li{
    display:flex;
    flex-direction: column;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    .main-container{
        min-width: 768px;
    }
    /****** Nav 1024 ***********/

    nav a{
        position:relative;
    
    }
    .btnnav{
        position:relative;
        left: 540px;
    }

    /****** Barre de recherche 1024 ***********/

    .location{
        width: 5%;
    }

    .searchbar{
        width: 19%;
    }

    .btnsearch{
        width: 12%;
    }

    .btnfiltres{
        width: 16%;
    }

    /****** Hébergements and Populaires 1024 ***********/

    .hebergements-and-populaires {
        width:100%;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards img {
        width: 35%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .populaires-cards .card {
        width: 92%;
        height: 76%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités 1024 ***********/

    .activity-card .card{
        width:95%;
        height: 270px;
    }

    .activity-card img{
        border-radius: 20px 20px 0px 0px;
        width: 193px;
        height: 200px;
    }

    /****** Footer 1024 ***********/

    .footer li{
        display:flex;
        flex-direction: column;
    }
}


/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    /****** Général 768 ***********/
    .main-container{
        padding:0 0;
        min-width:320px;
    }

    body{
        display:flex;
        flex-direction: column;
        margin: 0px;
    }

    /****** Nav 768 ***********/

    nav{
        display:flex;
        flex-direction: column;
    }

    .logobooki{
        position:relative;
        left:155px;
    }

    .btnnav{
        padding-top:25px;
        position:relative;
        left:8px;
    }

    .btnactivites:hover,
    .btnhebergement:hover{
        border-top:none;
        border-bottom:2px solid;
        padding-bottom:15px;
    }

    /****** Barre de recherche 728 ***********/
    .recherche{
        max-width:320px;
    }
    .location{
        width:19%;
        max-width: 31px;
    }
    .location i{
        position:relative;
        right:20%;
    }
    .btnsearch{
        visibility: hidden;
    }

    .searchbar{
        width: 278px;
        max-width: 265px;
        padding-right:90px;
    }

    .loupe{
        visibility: visible;
        width:6%;
        max-width: 49px;
        max-height: 49px;
        height:49px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        border-radius:15px;
        position:relative;
        right:71px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left:15px;
        padding-right: 15px;
    }
    
    /****** Filtres 728 ***********/

    .entete{
        padding-left:14px;
    }

    .filtres{
        display:grid;
        grid-template-columns:1fr;
        gap:20px;
        max-width:320px;
    }

    .btnfiltres{
        width: 90%;
        height: 45px;
        max-width: 134.09px;
    }

    .one{
        grid-column: 1;
        grid-row:2;
    }

    .two{
        grid-column:2;
        grid-row:2;
    }

    .three{
        grid-column: 1;
        grid-row:3;
    }

    .four{
        grid-column:2;
        grid-row:3
    }

    .info{
        padding-left: 14px;
    }

    /****** Hébergements and Populaires 728 ***********/

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergements-and-populaires section{
        padding:0px;
    }

    /****** Hébergements 728 ***********/
    .titleheberg{
        padding-top:10px;
        padding-left:14px;
    }
    .hebergements-card{
        display:flex;
        flex-direction: column;
        gap:15px;
        padding-left: 35px;
    }

    .hebergements-card .card{
        width: 100%;
        max-width: 295px;
        height: 207px;
    
    }

    .hebergements-card .card-txt{
        position:relative;
        bottom:10px;
    }

    .hebergements-card .card-rating{
        position:relative;
        bottom:35px;
    }

    .hebergements img{
        width: 100%;
        max-width: 335px;
        height: 60%
    }

    .afficher{
        padding-bottom: 85px;
        padding-left: 14px;
    }

    .hebergements{
        order:2;
    }
/****** Populaires 728 ***********/

    .populaires{
        order:1;
    }
    .hebergements-and-populaires .populaires{
        border-radius: 0px;
        width:375px;
        height: 595px;
    }

    .populaires-title{
        padding-top:20px;
        padding-left: 10px;
    }

    .populaires-title i{
        padding-right: 20px;
    }

    .populaires-cards{
        display:flex;
        flex-direction: column;
        padding-left: 14px;
    }

    .populaires-cards .card{
        width:335px;
        height: 146px;
        margin-top:15px;
    }

    /****** Activités 728 ***********/

    .titleactivite {
        padding-left:14px;
    }
    .activity-card{
        display:flex;
        flex-direction: column;
        padding-left: 30px;
    }

    .activity-card .card{
        width: 315px;
        height: 200px;
    }

    .activity-card img{
        width: 315px;
        height: 141px;
    }

    /****** Footer 728 ***********/

    .footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer1 li{
        display: flex;
        flex-direction: column;
    }
}